#一般的なファイル
.vscode
*.exe
main
# 生成ファイルや設定ファイル
*.p7
*.rule
*.pcap
/simulator-settings
/result

#個人のファイル
exec.sh
test-module
#除外
!LRUCache.json
!result/a.json

venv
*.log
__pycache__
*.prof

*/myenv
*/__pycache__
*/myenv
gob-packet/*
gob-packet
pcap/*

.env
vendor/

